
@{
    ViewBag.Title = "Statute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>REGULAMIN</h2>



I. POSTANOWIENIA OGÓLNE <br/>

1. Niniejszy regulamin zawiera określenia i terminy, przez które w każdym jego punkcie należy rozumieć poniższe ich definicje:<br />

a)     REGULAMIN: zbiór wszystkich zasad regulujących usługi świadczone przez SPRZEDAWCĘ poprzez witrynę internetową zamieszczoną pod adresem www.naviaonline.pl na rzecz KLIENTA.<br />

b)     KLIENT: osoba fizyczna, która ukończyła 18 rok życia i posiada pełną zdolność do czynności prawnych, zawierająca umowę sprzedaży z podmiotem dalej określonym jako SPRZEDAWCA.<br />

c)     KOSUMENT: to KLIENT, który jest osobą fizyczną i zawiera Umowę niezwiązaną bezpośrednio z prowadzoną przez niego działalnością gospodarczą lub zawodową (konsument w rozumieniu ustawy z dnia 30 maja 2014 r. o prawach konsumenta Dz.U.2014, poz.827).<br />

d)     SPRZEDAWCA: NAVIA Anna Drewniak, ul. Jurajska 283, 32-082 Bolechowice, zarejestrowany w Centralnej Ewidencji i Informacji o Działalności Gospodarczej, o numerze NIP 5130086103 oraz REGON 365547158, będący właścicielem, usługodawcą oraz administratorem SKLEPU INTERNETOWEGO.<br />

e)     SKLEP INTERNETOWY:witryna internetowa przeznaczona do składania zamówień przez KLIENTA oraz do prezentowania oferty SPRZEDAWCY dostępna pod adresem xxx.pl<br />

f)      TOWAR: artykuły zamieszczone przez SPRZEDAWCĘ w SKLEPIE INTERNETOWYM dostępnym pod adresem www.xxx.pl<br />

g)     ZAMÓWIENIE: polecenie prowadzące do zawarcia umowy sprzedaży, wydane przez KLIENTA, który wskazuje konkretny towar, jego rodzaj oraz ilość.<br />

h)    USŁUGA: świadczona na podstawie UMOWY przez SPRZEDAWCĘ na rzecz Klienta, zawierana na odległość bez konieczności fizycznej obecności stron.<br />

i)       UMOWA: umowa o świadczenie USŁUGI przez SPRZEDAWCĘ na rzecz KLIENTA.<br />

2. Niniejszy regulamin określa warunki regulujące świadczenia usług przez sklep internetowy naviaonline.pl. Regulamin określa reguły usług świadczonych przez Sprzedawcę na rzecz Klienta i jest on integralną częścią umowy sprzedaży, której akceptacja jest dobrowolna, jednak konieczna do zawarcia umowy sprzedaży.<br />

3. Zarówno logo jak i nazwa Sprzedawcy stanowią dobro chronione prawnie: zabrania się ich wykorzystywania bez uzyskania pisemnej zgody<br />