@model SportsStore.Models.Category

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuwanie</h2>

<h3>Czy na pewno usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nazwa kategorii
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Ukryta
        </dt>

        <dd>
           @(Model.Hidden ? "Tak": "Nie")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> 
            @Html.ActionLink("Powrót do listy kategorii", "Index", null, new { @class="btn btn-primary"})
        </div>
    }
</div>
