@model SportsStore.Models.Category

@{
    ViewBag.Title = "Szczegóły";
}

<head>
    <link href="~/Content/MainLayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Antic+Slab|Boogaloo|Josefin+Sans:400,700,700i|Kavivanar|Poppins:400,600,600i,700,700i|Raleway:400,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<h2 style="font-family: Poppins; font-weight:700; text-align: center;">Szczegóły</h2>

<div>
    <h4 style="font-family: Josefin Sans; text-align: center; font-size:15px;">Szczegóły kategorii</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-family:Poppins; font-size:15px;">
            Nazwa kategorii
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt style="font-family:Poppins; font-size:15px;">
            Ukryta
        </dt>

        <dd>
            @(Model.Hidden ? "Tak" : "Nie")
        </dd>

    </dl>

    <a class="btn btn-primary" href="/Categories/GeneratePDF/@Model.Id">
        Generuj cennk w PDF
    </a>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Powró do listy kategorii", "Index", null, new { @class = "btn btn-primary" })
</div>