@model IEnumerable<SportsStore.Models.Category>
<nav>
    <ul class="verticalmenu">
        @foreach (var category in Model)
            {
            <li>
                <a href="@Url.Action("List","Store", new { categoryname = category.Name.ToString()})">
                    @category.Name
                </a>
            </li>
        }
        <li>
            <a href="/Products/Bestsellers" style="color:red">
                BESTSELLERS
            </a>
        </li>
        @if (User.IsInRole("admin"))
        {
            <li>
                <a href="/Admin" style="color:#5fba7d">
                    Administracja
                </a>
            </li>
        }
    </ul>
</nav>


