@model IEnumerable<SportsStore.Models.Category>
<nav>
    <ul class="verticalmenu">
        @foreach (var category in Model)
            {
            <li>
                <a href="@Url.Action("List","Store", new { categoryname = category.Name.ToString()})">
                    @category.Name
                </a>
            </li>
        }

    </ul>
</nav>


