body {
}

.maincontainer {
    height: 70%;
    width: 80%;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
}

    .maincontainer .banner {
        width: 100%;
        height: 30%;
        border-bottom-style: solid;
        border-bottom-color: lightgray;
    }

        .maincontainer .banner .cartIcon {
            text-align: right;
            padding-right: 20px;
            padding-top: 20px;
        }


        .maincontainer .banner .logoIcon {
            text-align: center;
            padding-bottom: 30px;
        }


footer .footerMenu {
    float: left;
    width: 70%;
    height: 100%;
}

footer .footerText {
    width: 30%;
    height: 100%;
    text-align: right;
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}

.clearboth {
    clear: both;
}


.maincontainer .placeholder nav .verticalmenu {
    width: 100%;
    padding-left: 0;
    border-right: solid 2px #ccc;
}

    .maincontainer .placeholder nav .verticalmenu li {
        border-bottom: solid 2px #ccc;
    }

    .maincontainer .placeholder nav .verticalmenu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
        padding-left: 30px;
        font-size: 18px;
        font-weight: 600;
    }

        .maincontainer .placeholder nav .verticalmenu a:hover {
            background-color: #ccc;
        }

        .maincontainer .placeholder nav .verticalmenu a.active {
            background-color: #4CAF50;
            color: orange;
        }

ul {
    list-style-type: none;
}

.tile {
    background-color: blue;
    width: 200px;
    height: 200px;
    float: left;
}

.productImg {
    width: 300px;
    height: 144px;
}

.tiles-container {
    text-align: center;
}

.custom-tile {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    display: inline-block;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 55px;
    border: solid 1px black
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
}

    .page-title h2 {
        font-size: 40px;
        font-weight: 600;
    }

.card-icon {
    width: 30px;
}

.cartIcon .form-control {
    display: inline-block;
    width: 200px;
}

.cartIcon .btn-default {
    margin-right: 20px;
}

.cartIcon form {
    display: inline-block;
}
